<section class="admin-categories-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default categories">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
          <th>Products</th>
        </tr>
      </thead>
      <tbody>
        <% @categories_products.each {|category| %>
        <tr>
          <td>
            <%= link_to category[:name], category_path(category[:id]) %>
          </td>
          <td>
            <%= category[:number_of_products] %>
          </td>
        </tr>
        <%}%>
        <tr>
          <td>Total</td>
          <td> <%= @total_products %> </td>
        </tr>
      </tbody>
    </table>

</section>