<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p>Orchestrate, grow extensible 24/7 bleeding-edge paradigms revolutionary. Networks tag ubiquitous markets, repurpose content content. Interfaces; end-to-end collaborative reinvent deliverables customized synthesize portals bandwidth generate value-added cultivate productize dot-com widgets enable. Expedite mesh semantic plug-and-play magnetic recontextualize incubate, rss-capable citizen-media; feeds impactful; sticky innovate value engineer design. Customized, front-end bandwidth--blogging relationships reinvent; e-markets whiteboard. User-centred incentivize, back-end envisioneer proactive whiteboard data-driven, visionary killer users wikis, "A-list blogging; grow solutions, beta-test drive, grow transform." Optimize envisioneer collaborative, feeds innovative paradigms synergistic collaborative front-end bleeding-edge viral infrastructures reintermediate cultivate. Blogospheres whiteboard scalable recontextualize implement benchmark e-business citizen-media, addelivery next-generation beta-test. Generate matrix turn-key iterate transition web services bricks-and-clicks cross-media embrace synthesize solutions supply-chains technologies cultivate! Facilitate deliver communities technologies strategize mashups markets; scalable magnetic harness, "convergence next-generation," leading-edge; next-generation magnetic citizen-media.</p>
  <p>Recontextualize value-added, "synergies platforms metrics target," mission-critical networking. Action-items: scalable reintermediate 24/7 repurpose blogospheres, best-of-breed best-of-breed life-hacks strategize, brand mesh.</p>
  <p>Monetize mindshare functionalities communities sticky seize architect user-contributed initiatives mission-critical aggregate. Engage mashups vortals transparent e-markets webservices, communities action-items, viral integrated, web services reinvent e-business mindshare expedite rss-capable e-commerce bricks-and-clicks user-centred, beta-test. Real-time action-items global deploy e-enable convergence disintermediate life-hacks, syndicate, revolutionary portals. Drive intuitive mission-critical web-enabled architect integrated rich.</p>

  <p>Visit the source of our inspiring history <%= link_to "here", "http://bullshitipsum.com/" %>.</p>
  
</section>